* {
  margin: 0;
  padding: 0;
}
@media (max-width: 1200px) {
  .header__nums--div {
    width: 900px;
    transition: 0.4s;
  }
  .header__nav--conten {
    width: 900px;
    transition: 0.4s;
  }
  .header__title--div {
    width: 900px;
    transition: 0.4s;
  }
  .nav__links {
    font-size: 17px;
    transition: 0.4s;
  }
  .nav {
    width: 500px;
  }
  .boxing {
    width: 900px;
  }
  .box h2 {
    font-size: 23px;
    padding-bottom: 10px;
  }
  .box span {
    font-size: 22px;
  }
  .welcome {
    width: 900px;
  }
  .welcome__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .services h2 {
    font-size: 25px;
  }
  .services__content {
    width: 900px;
  }
  .links {
    font-size: 15px;
  }
  .about {
    width: 900px;
  }
  .about__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image__cont {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 500px;
  }
  .comment {
    width: 900px;
    transition: 0.4s;
  }
  .footer__div {
    width: 900px;
    transition: 0.4s;
  }
}

@media (max-width: 900px) {
  .header__nums--div {
    width: 600px;
  }
  .p-one {
    font-size: 13px;
  }
  .p-span {
    width: 200px;
  }
  .p-span__help {
    display: none;
  }
  .header__nav--conten {
    width: 600px;
  }
  .nav {
    display: none;
  }
  #menu {
    display: block;
    font-size: 30px;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      color: gray;
    }
  }
  .header__title--div {
    width: 600px;
    transition: 0.4s;
  }
  .header__title--cont h1 {
    font-size: 50px;
  }
  .boxing {
    width: 600px;
    height: 400px;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 20px 1fr;
    grid-template-areas:
      "icon title title"
      "icon repair repair"
      "text text text";
    padding: 20px;
  }
  .box i {
    grid-area: icon;
    margin: 0;
    width: 80px;
    font-size: 50px;
    text-align: center;
  }
  .box h2 {
    grid-area: title;
    width: 170px;
  }
  .box span {
    grid-area: repair;
    margin: 0;
  }
  .box p {
    grid-area: text;
    margin: 0;
    font-size: 13px;
  }
  .welcome {
    width: 600px;
    height: 700px;
    flex-direction: column;
    margin-bottom: 0;
  }
  .welcome__img {
    width: 100%;
    height: 350px;
  }
  .welcome__img img {
    height: 300px;
  }
  .welcome__text {
    width: 100%;
    height: 350px;
    justify-content: start;
  }
  .welcome__text p {
    font-size: 13px;
  }
  .services h2 {
    font-size: 20px;
    font-weight: 400;
  }
  .services__content {
    width: 600px;
  }
  .links {
    font-size: 13px;
  }
  .about {
    width: 600px;
    height: 700px;
    flex-direction: column-reverse;
  }
  .about__text {
    width: 100%;
    height: 400px;
    justify-content: start;
  }
  .about__img {
    width: 100%;
    height: 400px;
  }
  .about__text p {
    font-size: 13px;
  }
  .comment {
    width: 700px;
    transition: 0.4s;
  }
  .comment__div {
    grid-template-columns: 1fr 1fr;
  }
  .comment__div--box:nth-child(3) {
    display: none;
  }
  .footer__div {
    width: 600px;
    flex-direction: column;
    align-items: center;
  }
  .footer__div span {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .p-one {
    display: none;
  }
  .header__nums--div {
    width: 350px;
    justify-content: center;
  }
  .header__nav--conten {
    width: 350px;
  }
  .header__title--div {
    width: 350px;
    display: flex;
    flex-direction: column;
  }
  .logo {
    font-size: 26px;
  }
  .header__title i {
    display: none;
  }
  .header__title h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .header__title--cont button {
    width: 200px;
  }
  .boxing {
    width: 350px;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 150px);
    row-gap: 20px;
  }
  .box {
    box-sizing: border-box;
    padding: 20px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 30px 20px 1fr;
  }
  .box i {
    font-size: 40px;
  }
  .box h2 {
    width: 200px;
    height: 35px;
    font-size: 21px;
  }
  .box span {
    font-size: 18px;
  }
  .box p {
    margin-top: 10px;
    font-size: 13px;
    padding: 0;
  }
  .welcome {
    margin-bottom: 100px;
    width: 350px;
    height: auto;
  }
  .welcome__img {
    height: 300px;
    width: 100%;
  }
  .welcome__img img {
    width: 350px;
    height: 280px;
  }
  .welcome__text {
    height: 430px;
  }
  .welcome__text h3,
  .welcome__text span {
    font-size: 25px;
  }
  .welcome__text p {
    font-size: 13px;
  }
  .services {
    height: auto;
    box-sizing: border-box;
    padding: 50px 0;
  }
  .services h2 {
    font-size: 19px;
  }
  .services__content {
    width: 350px;
    height: auto;
    row-gap: 40px;
    display: flex;
    flex-direction: column;
  }
  .about {
    width: 350px;
  }
  .about__img {
    padding: 0;
    height: 350px;
  }
  .about__img img {
    width: 100%;
    height: 280px;
  }
  .about__text h3,
  .about__text span {
    font-size: 25px;
  }
  .about__text p {
    width: 375px;
    font-size: 13px;
  }
  .image__cont {
    height: 900px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .comment {
    width: 350px;
    transition: 0.4s;
  }
  .comment__div {
    grid-template-columns: 1fr;
  }
  .comment__div--box:nth-child(3) {
    display: none;
  }
  .comment__div--box:nth-child(2) {
    display: none;
  }
  .footer__div {
    width: 350px;
    flex-direction: column;
    row-gap: 20px;
  }
  .footer__div--ul {
    flex-direction: column;
    row-gap: 20px;
    height: auto;
  }
}
