* {
  margin: 0;
  padding: 0;
}
@media (max-width: 1200px) {
  .header__nums--div,
  .header__nav--conten,
  .header__title--div,
  .boxing,
  .welcome,
  .services__content,
  .about,
  .comment,
  .footer__div {
    width: 900px;
    transition: 0.4s;
  }
  .nav {
    column-gap: 30px;
  }
  .services h2 {
    font-size: 25px;
  }
  .links {
    font-size: 15px;
  }
  .image__cont {
    height: 400px;
  }
}

@media (max-width: 900px) {
  .header__nums--div,
  .header__nav--conten,
  .header__title--div,
  .boxing,
  .welcome,
  .services__content,
  .about,
  .comment,
  .footer__div {
    width: 700px;
  }
  .p-one {
    font-size: 13px;
  }
  .logo {
    font-size: 20px;
  }
  .nav {
    column-gap: 20px;
  }
  .nav__links {
    font-size: 14px;
  }
  .header__title--cont h1 {
    font-size: 55px;
  }
  .header__title--cont button {
    width: 200px;
    font-size: 14px;
  }
  .boxing {
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
  }
  .box {
    display: grid;
    box-sizing: border-box;
    padding: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 40px 20px 80px;
    grid-template-areas:
      "icon title title"
      "icon repair repair"
      "text text text";
  }
  .box i {
    grid-area: icon;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
  }
  .box h2 {
    grid-area: title;
  }
  .box small {
    grid-area: repair;
  }
  .box p {
    grid-area: text;
    padding: 0;
  }
  .welcome,
  .about {
    height: auto;
    flex-direction: column;
    margin-bottom: 0;
    row-gap: 30px;
  }
  .about {
    flex-direction: column-reverse;
  }
  .welcome__img {
    width: 100%;
    height: 350px;
  }
  .welcome__text {
    width: 100%;
    height: 350px;
    justify-content: start;
  }
  .welcome__text p {
    font-size: 13px;
  }
  .services h2 {
    font-size: 22px;
    font-weight: 400;
  }
  .welcome__text h2,
  .about__text h2 {
    font-size: 25px;
  }
  .links {
    font-size: 13px;
  }
  .about__text {
    width: 100%;
    height: 350px;
    justify-content: start;
  }
  .about__img {
    width: 100%;
    height: 350px;
  }
  .about__text p {
    font-size: 13px;
  }
  .image h2 {
    width: auto;
    font-size: 23px;
  }
  .comment {
    width: 700px;
    transition: 0.4s;
  }
  .comment__div {
    grid-template-columns: 1fr 1fr;
  }
  .comment__div--box:nth-child(3) {
    display: none;
  }
  .footer__div {
    width: 700px;
    flex-direction: column;
    align-items: center;
  }
  .footer__div span {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .header__nums--div,
  .header__nav--conten,
  .header__title--div,
  .boxing,
  .welcome,
  .services__content,
  .about,
  .comment,
  .footer__div {
    width: 350px;
  }
  .header__nums--div {
    justify-content: center;
  }
  .p-one {
    display: none;
  }
  .nav {
    display: none;
  }
  #menu {
    display: block;
  }

  .header__title--div {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .logo {
    font-size: 20px;
  }
  .header__title i {
    display: none;
  }
  .header__title h1 {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 3px;
  }
  .header__title--cont button {
    width: 100%;
    height: 55px;
    background-color: #235a94;
    border: none;
  }
  .boxing {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 150px);
    row-gap: 20px;
  }
  .box {
    box-sizing: border-box;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 30px 20px 1fr;
  }
  .box i {
    font-size: 40px;
  }
  .box h2 {
    font-size: 21px;
  }
  .box p {
    font-size: 13px;
  }
  .welcome__img,
  .about__img {
    height: 300px;
    width: 100%;
  }
  .welcome__text,
  .about__text {
    height: 430px;
    align-items: center;
  }
  .welcome__text h3,
  .about__text h2 {
    font-size: 27px;
  }
  .welcome__text p,
  .about__text {
    font-size: 13px;
    text-align: center;
  }
  .services {
    height: auto;
    box-sizing: border-box;
    padding: 50px 0;
  }
  .services h2 {
    font-size: 19px;
    padding: 0;
  }
  .services__content {
    height: auto;
    row-gap: 40px;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
  }
  .links {
    font-size: 16px;
  }
  .image__cont {
    height: 900px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .comment__div {
    grid-template-columns: 1fr;
  }
  .comment__div--box:nth-child(3) {
    display: none;
  }
  .comment__div--box:nth-child(2) {
    display: none;
  }
  .footer__div {
    flex-direction: column;
    row-gap: 20px;
  }
  .footer__div--ul {
    flex-direction: column;
    row-gap: 20px;
    height: auto;
  }
}
