* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
button {
  cursor: pointer;
  transition: .4s;
  border: none;
  text-transform: uppercase;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  transition: .4s;
}
:root {
  --fondo: #235a94;
  --texto: #253adc;
  --hover: #101c7d;
}
.header {
  width: 100%;
  height: auto;
}
.header__nums {
  background-color: rgb(50, 50, 50);
  width: 100%;
  height: 40px;
  color: white;
}
.header__nums--div {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  transition: 0.4s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.p-one {
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.4s;
  &:hover {
    color: gainsboro;
  }
}
.p-one i {
  color: var(--texto);
  font-size: 22px;
}
.p-span {
  width: auto;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  font-weight: bold;
}
.p-span__help {
  color: var(--texto);
  font-weight: bold;
  text-transform: uppercase;
}
.p-span__24 {
  background-color: var(--texto);
  padding: 5px;
  border-radius: 5px;
}

.header__nav {
  background-color: #235a94;
  width: 100%;
}
.header__nav--conten {
  margin: 0 auto;
  width: 1200px;
  height: 80px;
  transition: 0.4s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 25px;
  cursor: pointer;
  color: white;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
}
.nav__links {
  color: white;
  font-size: 16px;
  &:hover {
    color: var(--texto);
  }
}
#menu {
  color: white;
  font-size: 27px;
  cursor: pointer;
  display: none;
}

.header__title {
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pexels-quintin-gellar-313779.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__title--div {
  width: 1200px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
}
.header__title i {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    color: var(--fondo);
  }
}
.header__title--cont {
  text-align: center;
}
.header__title--cont h1 {
  font-size: 70px;
  font-weight: 200;
  line-height: 1;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.header__title--cont button {
  width: 250px;
  height: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  font-size: 17px;
  border: 2px solid var(--texto);
  background-color: rgb(50, 50, 50, 0);
  &:hover {
    background-color: var(--fondo);
  }
}

/*-------------------------------------------------------------*/

.main {
  width: 100%;
}
.boxing {
  width: 1200px;
  height: 300px;
  margin: -100px auto;
  transition: 0.4s;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}
.box {
  background-color: var(--fondo);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px #000;
  justify-content: center;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    background-color: var(--hover);
  }
}
.box i {
  margin-bottom: 20px;
  font-size: 60px;
}
.box h3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
}
.box small {
  font-size: 14px;
  color: gainsboro;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.box p {
  font-size: 14px;
  color: gainsboro;
  padding: 0 20px;
  margin-top: 10px;
  text-align: center;
}

.welcome {
  width: 1200px;
  height: 400px;
  margin: 200px auto 150px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 30px;
}
.welcome__img {
  width: 50%;
  height: 400px;
}
.welcome__img img,
.about__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px #000;
}
.welcome__text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 20px;
}
.welcome__text h2,
.about__text h2 {
  color: var(--texto);
  font-size: 33px;
  font-weight: 500;
  text-transform: uppercase;
}
.welcome__text p {
  font-size: 14px;
  line-height: 28px;
}

.services {
  width: 100%;
  height: 570px;
  margin-bottom: 200px;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("../images/pexels-pixabay-162553.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}
.services h2 {
  font-weight: 300;
  font-size: 27px;
  padding: 50px 0 20px;
  text-transform: uppercase;
}
.services__content {
  width: 1200px;
  height: 280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}
.services__content1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 15px;
  font-size: 15px;
  border-right: 2px solid rgb(195, 192, 192);
  font-weight: 500;
}
.links {
  text-align: start;
  cursor: pointer;
  &:hover {
    color: var(--fondo);
  }
}
.links i {
  color: var(--fondo);
  font-size: 18px;
}
.services button {
  width: 250px;
  height: 50px;
  color: white;
  background-color: var(--fondo);
  margin-top: 30px;
  font-size: 18px;
  &:hover {
    background-color: var(--hover);
  }
}

.about {
  width: 1200px;
  height: 400px;
  display: flex;
  flex-direction: row-reverse;
  margin: -100px auto 150px;
  column-gap: 30px;
}
.about__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 20px;
}
.about__text p {
  font-size: 14px;
  line-height: 26px;
}
.about__text button,
.welcome__text button {
  width: 200px;
  height: 45px;
  background-color: var(--fondo);
  color: white;
  font-size: 18px;
  font-weight: 500;
  &:hover {
    background-color: var(--hover);
  }
}
.about__img {
  width: 50%;
  height: 100%;
}

.image__cont {
  width: 100%;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.img_one {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/01.jpg");
}
.img_two {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/02.jpg");
}
.img_tree {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/03.jpg");
}
.image {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    color: var(--texto);
  }
}
.image span {
  font-size: 25px;
  font-weight: bold;
}
.litle {
  font-size: 14px;
  font-weight: 400;
}
.image h2 {
  font-weight: 400;
  text-align: center;
  width: 300px;
  font-size: 30px;
}

.comment {
  width: 1000px;
  height: auto;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment h2 {
  font-size: 30px;
  color: var(--texto);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.comment__div {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.comment__div--box {
  box-shadow: 0 0 10px #777777;
  border-radius: 10px;
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    scale: 1.04;
  }
}
.comment__div--box img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.comment__div--box span {
  text-align: center;
}
.comment__div--box span small {
  font-style: italic;
}
.comment__div--box span h3 {
  font-size: 19px;
  font-weight: 600;
}

.comment__div--box i {
  position: absolute;
  left: 20px;
  font-size: 40px;
  top: 100px;
  color: gray;
}
.comment__div--box p {
  font-size: 13px;
  text-align: center;
  line-height: 25px;
}

.footer {
  background-color: rgb(50, 50, 50);
  width: 100%;
  box-sizing: border-box;
  padding: 100px 0;
  height: auto;
}
.footer__div {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__div span {
  color: white;
}
.footer__div span small {
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer__div span h2 {
  font-size: 40px;
  font-weight: 300;
  color: var(--texto);
}
.footer__div--ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 100px;
  column-gap: 40px;
  align-items: center;
}
.footer__div--ul li a {
  color: white;
  &:hover {
    color: var(--hover);
  }
}
/*
528

